<h1>ITEMS DE THE RED FENS</h1>
<br>
<% if @items.count == 0  %>
    <p> Aun no tienes items de este pack </p>
<% else %>
<table class="tablaSHOW">
  <tr>
    <th>Nombre</th>
    <th>Base   </th>
    <th>Seal   </th>
    <th>Shard  </th>
    <th>Scroll </th>
    <th>Pack   </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <% @items.each do |item| %>
        <td><%= item.nombre %></td>

        <% if item.base == true %>

            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "1", checked = true, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% else %>
            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "0", checked = false, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% end %>

        <% if item.seal == true %>
            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "1", checked = true, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% else %>
            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "0", checked = false, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% end %>

        <% if item.shard == true %>
            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "1", checked = true, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% else %>
            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "0", checked = false, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% end %>

        <% if item.scroll == true %>
            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "1", checked = true, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% else %>
            <td>
              <div class="roundedOne">
                <%= check_box_tag(item, value = "0", checked = false, options = {:disabled => true}) %>
                <label for="roundedOne"></label>
              </div>
            </td>
        <% end %>

        <td>
          <%= Location.find(item.location_id).nombre %>
        </td>

        <td><%= link_to image_tag('imagenes/note_edit.png') + " Editar", edit_item_path(item) %></td>
        <td><%= link_to image_tag('imagenes/bullet_deny.png') + " Borrar", item, method: :delete, data: { confirm: 'Eliminar. Estas seguro?' } %></td>

        </tr>
    <% end %>

    </table>
  <% end %>
<br>

<%= link_to image_tag('imagenes/arrow_undo.png') + " Atras", items_path %>  |  <%= link_to image_tag('imagenes/note_add.png') + " Añadir nuevo Item", new_item_path %>